
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap');

html {
  
  
  font-size: 16px;
}
body {
  background: url(./assets/home/background-home-mobile.jpg) no-repeat;
  background-size: cover;
  
}

@media(min-width: 650px) {
  body {
    background: url(./assets/home/background-home-tablet.jpg) no-repeat;
    background-size: cover;
    
  }

 
}

@media(min-width: 1000px) {
  body {
    background: url(./assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }

 
} 